@import url('~bootstrap/dist/css/bootstrap.css');
.logo {
    background-image: url('./assets/images/user.jpg');
    background-repeat: no-repeat;
    background-position: 55%;
    background-size: 70%;
    height: 55px;
    width: 50px;
    background-color: rgb(52, 58, 64);
  }

  body {
    font-size: small;
    background-color: black;
    color: white;
  } 

body .lm_content{
  overflow: auto;
}
